@use '../abstracts/variables' as *;

.animeQuote {
  width: 100%;
  max-width: 400px;

  &__quote {
    font-size: 1.25rem;
  }

  hr {
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    border: 1px solid transparent;
    border-top-color: $text-color;
    opacity: 0.2;
  }

  &__from {
    margin: 0;
  }
}
