@use '../abstracts/variables' as *;

.button {
  padding: 0;
  height: 40px;
  width: 40px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-gray-color;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $dark-gray-color;
  }
}
