@use '../abstracts/variables' as *;

.button {
  padding: 0.5rem;
  position: absolute;
  background-color: $light-gray-color;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: $dark-gray-color;
  }
}
